{% load static %}
<html>
<head>
  <title>MyBillGenerator/Bill Calculation</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'sidenav.css' %}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<style type="text/css" media="all" >
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #ADD8E6;
  color: black;
  border-radius: 6px;
  text-align: left;
  padding: 0px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
</head>
<body>


<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i></a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +91 0000000000</li>
        <li><i class="fas fa-envelope rgtspace-5"></i> mybillgenerator@domain.com</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>


<div class="wrapper row1" style="background-image: url({% static 'img/00.png' %}); background-size: 300px 100px; background-size: cover; ">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="one_quarter first">
      <h1><a href="{% url 'home' %}">MyBillGenerator</a></h1>
      <p>to generate your electricity bill</p>
    </div>
      
    <!-- ################################################################################################ -->
  </header>
</div>

<marquee style="font-size: 30px; font-family: 'serifs'; font-weight: bold; color: white; background-color: black; margin-top: 5px;">BILL GENERATION <strong style="font-size: 20px; margin-left: 20px; color: red;">"We will make electricity so cheap that only the rich will burn candles" -Thomas Alva Edison</strong></marquee>

  <div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
       <li><a href="{% url 'home' %}">Home</a></li>
      <li class="active"><a href="{% url 'bill_calc' %}">Bill Generation</a></li>
      <li><a class="drop" href="#">Save Reading</a>
        <ul>

          <li><a href="{% url 'save_reading' %}">To Save New Reading</a></li>
          <li><a href="{% url 'show_all_readings' %}">Show Your ALL Readings/Edit</a></li>
        </ul>
      </li>
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'change_pswd' %}">Change Password</a></li>
      <li><a href="{% url 'add_new_building' %}">Add New Building</a></li>
      <li><a href="{% url 'history' %}">History</a></li>
      <li><a href="{% url 'logout' %}">LogOut</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
 <div align="center" style="color:Red; font-weight:bold;">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
        </div>


<!--
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>
<p style="font-weight: bold;">Click on the element below to open your old bills.</p>
<span style="font-size:30px; font-size: 20px; color: red; font-weight: bold; cursor:pointer"; onclick="openNav()">&#9776; OPEN</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "300px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>-->
  <br>
  <div align="center">
      <h6 class="heading" >Calculate Your Bill</h6>
      <p class="nospace btmspace-15" ><b>if you want any guide, move mouse over HELP..?</b></p>
      <button  class="btn"  onclick="location.href='{% url 'spot_bill'%}'"  style="Background-color:yellow; clor:Black; font-weight:bold;">SPOT BILL</button><br>
      <form method="post" action="{% url 'bill_calc' %}" style="text-align: center;">
        {% csrf_token %}
          <br>
          <center>
             <label style="font-size: 20px;">
                    <select required="" name="building" style="border: 2px solid;">
                      <option value="" selected="selected" disabled="disabled">select your building</option>
                      {% for i in dc %}
                      <option value="{{i.Building_number}}">{{i.Building_name}}/{{i.Building_number}}</option>
                      {% endfor %}
                    </select>
              </label>
            <br>
   
            <table style="border: 2px solid; font-weight: bold; font-size: 20px; width:30%;">
              <tr>
                <td>
                  <label for="from_date">Date from</label>
                </td>
                <td>
                  <input type="date" name="from_date" required>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="to_date">Date To</label>
                </td>
                <td>
                  <input type="date" name="to_date" required>
                </td>
              </tr>
            </table>
            <div align="center">
              <button class="btn" type="submit" value="submit">Submit</button>
              <div class="tooltip" style=" font-weight: bold; color: blue;margin-left: 10px;"><h4>HELP..?</h4>
                <span class="tooltiptext">1.aaaaaaaaaaaaaaaaaaaa  <br>
                                          2.bbbbbbbbbbbbbbbbbbbb  <br>
                                          3.cccccccccccccccccccc  <br>
                                          4.dddddddddddddddddddd  </span>
            </div>
            </div>
                </center>
      </form>

    </div>
  </div>

   <br>
    <marquee style="font-size: 30px; font-family: 'serifs'; font-weight: bold; color: white; background-color: black; margin-top: 5px;"><strong style="font-size: 20px; margin-left: 20px; color: blue;">What is a soul? It's like electricity - we don't really know what it is, but it's a force that can light a room- Ray Charles.</strong></marquee> 
      <div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">MyBillGenerator</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fas fa-map-marker-alt"></i>
          <address>
          Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fas fa-phone"></i> +91 0000000000</li>
        <li><i class="far fa-envelope"></i> mybillgenerator@domain.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Add your Comments</h6>
      <p class="nospace btmspace-15">"When you focus on the Good. The Goods get better"</p>
      <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" name="name" placeholder="Name" >
          <input class="btmspace-15" type="email" name="email" placeholder="Email">
          <input class="btmspace-15" type="text" name="comment" placeholder="Comment">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">MyBillGenerator</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>

    
</body>
</html>
