{% load static %}
<html>
<head>
  <title>MyBillGenerator/History</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout.css' %}" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" type="text/css" href="">

<style>

.bton
            {background-color:  #4CAF50;  color: white;  padding: 5px 15px;  border: none;  border-radius: 4px;  cursor: pointer;  align:center;}
.bttn
            {background-color: #FF0000;  color: white;  padding: 5px 15px;  border: none;  border-radius: 4px;  cursor: pointer;  align:center;}

  {
    margin-left: 300px;
  }
 .scrollit {
    overflow:auto;
    height:200px;
}
th{
  overflow: hidden;
}
.searchbar{
margin-top:0px;
margin-left: 600px;
margin-right:0px;
height:50px;
width:300px;
}
.searchbar input[type="number"]
{
border: 1px solid black;
height:30px;
width:250px;
color:black;
text-align: center;
font-weight: bold;

font-size:15px;
}
.searchbar input[type="submit"]
{
  cursor: pointer;
  margin-top: 10px;
  margin-left: 150px;
  background: #ffc107;
  font-weight: bold;
  width: 100px;
  color: #000;
}



</style>
</head>
<body>

<body id="top">

  <div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i></a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +91 0000000000</li>
        <li><i class="fas fa-envelope rgtspace-5"></i> mybillgenerator@domain.com</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>


<div class="wrapper row1" style="background-image: url({% static 'img/00.png' %}); background-size: 300px 100px; background-size: cover; ">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="one_quarter first">
      <h1><a href="{% url 'home' %}">MyBillGenerator</a></h1>
      <p>to generate your electricity bill</p>
    </div>

    <!-- ################################################################################################ -->
  </header>
</div>

<marquee style="font-size: 30px; font-family: 'serifs'; font-weight: bold; color: white; background-color: black; margin-top: 5px;">BILL HISTORY<strong style="font-size: 20px; margin-left: 20px; color: red;">"We will make electricity so cheap that only the rich will burn candles" -Thomas Alva Edison</strong></marquee>
    <!-- ################################################################################################ -->
  </header>
</div>

<center>
    <div><h1><b>Show Your Readings</b></h1></div></center>


  <div class="wrapper row2">
  <nav id="mainav" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
        <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'bill_calc' %}">Bill Generation</a></li>
      <li><a class="drop" href="#">Save Reading</a>
        <ul>

          <li><a href="{% url 'save_reading' %}">To Save New Reading</a></li>
          <li class="active"><a href="{% url 'show_all_readings' %}">Show Your ALL Readings/Edit</a></li>
        </ul>
      </li>
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'change_pswd' %}">Change Password</a></li>
      <li><a href="{% url 'add_new_building' %}">Add New Building</a></li>
      <li><a href="{% url 'history' %}">History</a></li>
      <li><a href="{% url 'logout' %}">LogOut</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
   <div align="center" style="color:Red; font-weight:bold;">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
        </div>
<br>
  <div align="center">
      <h6 class="heading">BILL HISTORY</h6>
      <p style="font-weight:bold;" > Select building and click <blink style="color: blue;">'Show'</blink> button</p>
      <p class="nospace btmspace-15"><b></b></p>
      <form method="post" action="{% url 'history' %}" style="text-align: center;">
          {% csrf_token %}
          <center>
                <label style="font-size: 20px;">
                    <select name="building_no" style="border: 2px solid;">
                      <option value="" selected="selected" disabled="disabled">select your building</option>
                        {% for i in dc %}
                            <option value="{{i.Building_number}}">{{i.Building_name}}/{{i.Building_number}}</option>
                        {% endfor %}
                    </select>
                </label>
              <button class="bton" value="submit">Show</button>
          </center>
      </form>
      <center>
               <br>
                <div style="background-color: black;color: white; padding-bottom: 10px; padding-top: 10px; width:98%;">
                    <h6>Name of the Building/Number</h6>
                    <input type="text" name="building_name" disabled="disabled" value="{{aa.Building_name}}-{{aa.Building_number}}" style="margin-top: 10px; width: 500px;color:black; font-size:30px; text-align: center;font-weight:bold;">
                </div>
            <table style="border: 2px solid; font-weight: bold; font-size: 20px; width:98%;">
                <tr>
                    <th>Bill Date</th>
                    <th style="color:Blue;">From Date </th>
                    <th style="color:Blue;">Reading</th>
                    <th style="color:Green;">To Date </th>
                    <th style="color:Green;">Reading</th>
                    <th>Difference</th>
                    <th>Amount</th>
                    <th>Print</th>
                    <th>Delete</th>
                </tr>
                {% for a,b,c,d,e,f,g,h in hh %}
                <tr>
                        <td align="center">
                            <input type="text" name="bill_date" readonly="" value="{{b}}" style="width:150px;">
                        </td>
                        <td align="center">
                            <input type="text" name="From_date" readonly="" value="{{c}}" style="width:150px;">
                        </td>
                        <td align="center">
                            <input type="number" name="From_reading" readonly="" value="{{d}}" style="width:100px;">
                        </td>
                        <td align="center">
                            <input type="text" name="To_date" readonly="" value="{{e}}" style="width:150px;">
                        </td>
                        <td align="center">
                            <input type="number" name="To_reading" readonly="" value="{{f}}" style="width:100px;">
                        </td>
                         <td align="center">
                            <input type="number" name="Difference" readonly="" value="{{g}}" style="width:150px;">
                        </td>
                        <td align="center">
                            <input type="number" name="Amount" readonly="" value="{{h}}" style="width:150px;">
                        </td>
                        <td align="center">
                            <button class="bton" name="print" onclick="location.href='{% url 'print_bill' a %}'" >Print</button>
                        </td>
                        <td align="center">
                            <button class="bttn" name="delete" onclick="location.href='{% url 'delete_bill' a %}'" >Delete</button>
                        </td>
                </tr>
                {% endfor %}
            </table>
        <br>
            </center>

  </div>

    <br>
    <marquee style="font-size: 30px; font-family: 'serifs'; font-weight: bold; color: white; background-color: black; margin-top: 5px;"><strong style="font-size: 20px; margin-left: 20px; color: blue;">What is a soul? It's like electricity - we don't really know what it is, but it's a force that can light a room- Ray Charles.</strong></marquee>
      <div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">MyBillGenerator</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fas fa-map-marker-alt"></i>
          <address>
          Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fas fa-phone"></i> +91 0000000000</li>
        <li><i class="far fa-envelope"></i> mybillgenerator@domain.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Add your Comments</h6>
      <p class="nospace btmspace-15">"When you focus on the Good. The Goods get better"</p>
    <form method="post" action="{% url 'home' %}">
          {% csrf_token %}
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" name="name" placeholder="Name" >
          <input class="btmspace-15" type="email" name="email" placeholder="Email">
          <input class="btmspace-15" type="text" name="comment" placeholder="Comment">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">MyBillGenerator</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>

</body>
</html>

