{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBillGenerator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="all">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
      	.container i {
    cursor: pointer;
    margin-left: 0px;
	}
    </style>
</head>
<body style=" background: url({% static 'img/03.jpg' %})scroll;  background-size: cover;">
  <div class="logo">
      <h1>MyBillGenerator</h1>
      <p>to generate your electricity bill</p>
      <p>"Today’s ignorance will bring a dark tomorrow"</p>
    </div>
<div class="login-box">
  <img src="{% static 'img/icon.png' %}" class="avatar">
    <h2>USER LOGIN</h2>
     <div align="center" style="color:Red; font-weight:bold;">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
        </div><br><br>
    <form method="post" action="{% url 'login' %}" class="container">
      {% csrf_token %}
        <input type="text" name="phone" placeholder="Mobile number" required="">
        <table>
          <tr>
            <td>
              <input type="password" name="password" id="password"placeholder="Password" required=""  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" style="width: 230px;">
            </td>
            <td style="color:white;">
              <i class="far fa-eye" id="togglePassword" style="margin-bottom: 10px; "></i>              
            </td>
        </table>
        <input type="submit" name="" value="Login">
        <a href="#">Forgot Password?</a>
        <a href="{% url 'new_user' %}"> Register</a>
    </form>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');
        togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
        });
    </script>
  </div>
</body>
</html>
